.logo {
    width: 500px;
}

.icono1 {
    width: 30px;
}

.icono3 {
    width: 30px;
}

.icono2 {
    width: 30px;
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

input {
    width: 130px;
    height: 40px;
}

ul {
    margin: 0;
    padding: 0;
}

div.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    height: 20px;
}

.Menu {
    display: flex;
    list-style: none;
}

.Menu2 {
    display: flex;
    list-style: none;
}

.noticias{
height: 700px;
color: white;
margin-top: 20px;
}

.lista{
display: flex;
flex-wrap: wrap;
list-style: none;
}
section ul li{
    display: flex;
    flex-direction: column;
    border: 1px white solid;
}

section ul li img{
    width: 650px;
    height: 400px;
}
section ul li p{
    padding-left: 20px;
}

/*carrousel*/

.slider {
	width: 100%;
	margin: auto;
    overflow: hidden;
   margin-top:50px;
   height: 100vh;
   
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
    list-style: none;
    
}

.slider img {
    width: 100%;
    
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}