
body {
    background:black;

}
/* Logo de la pagina */

.logo {
    width: 500px;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


/* Menu */

.horizontal {
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
    height: 20px;
    justify-content: space-between;
    position: relative;
    top: -48px;
}

nav {
    display: flex;
    margin-top: 50px;
    height: 65px;
    background: rgba(118, 118, 118, 0.30);
    filter: blur(30px);
    -webkit-filter: blur(30px);
    align-items: center;
}

button {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    color: rgb(255, 255, 255, 0.7);
    background: none;
    border: none;
}

button:hover {
    color: rgb(255, 255, 255, 2);
}

.Menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.peliculas {
    font-family: 'Raleway', sans-serif;
}

hr {
    width: 80%;
}


/*peliculas*/
.noticias{
color: white;
margin-top: 20px;
height: 1100px;

}

.lista{
height: 100%;   
display: flex;
flex-wrap: wrap;
list-style: none;
width: 85%;
justify-content: space-around;
align-content: space-around;
margin: auto;
}

.peliculas_row{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    width: 25%;
    box-shadow: 10px 5px 5px red;
    border-radius: 3%;
    background: black;
}
.peliculas_row:hover{
    box-shadow: none;
    cursor: pointer;
}
.peliculas_row img{   
height: 400px;
border-radius: 3%;
}
.peliculas_row p{
    padding-left: 20px;
    
}

/*series*/
.noticias2{
    height: 1000px;
    width: 85%;
    margin: auto;
    }

.arriba{
    height: 50%;   
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    }
.blur{
    width: 50%;
    display: flex;
    flex-direction: wrap;
    z-index: 10;
    height: 100%;
}
.blur img{
    width: 100%;
    height: 100%;

}

.parrafo1, .parrafo2{
    opacity: 0;
    position: relative;
    left:-500px;
    color:white;
    z-index: 99;
    font-size: 50px;
    height: 500px;
    width: 300px;
    margin:0;
    padding:0;
    display: block;
    
}
.blur p:hover{
opacity: 1;
}
.blur:hover{
filter: grayscale(100%);
}
.abajo{
    height: 50%;   
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;  
}
.blur_abajo{
    width: 33.3%;
}
.blur_abajo img{
    width: 100%;
    height: 100%;
}
.blur_abajo p{
    opacity: 0;
    position: absolute;
    top:-50px;
    color:white;
    z-index: 99;
    font-size: 50px;
    height: 500px;
}
.blur_abajo:hover{
    filter: grayscale(100%);
}
.blur_abajo p:hover{
    opacity: 1;
}

/*carrousel*/

.slider {
	width: 100%;
	margin: auto;
    overflow: hidden;
   margin-top:50px;
   height: 100vh;
   
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
    list-style: none;
}

.slider img {
    width: 100%; 
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* titulos */
.peliculas{
    color:white;
    z-index: 99;
    font-size: 30px;
    position: relative;
    margin-bottom: 10px;
    margin-left: 80px;
}
.color{
position: relative;
top:-60px;
background: url(../El-Serial/Imagenes/blood2.png);
height: 100px;
opacity: 1;
width: 220px;
background-position: center;
background-size: cover;
margin-left: -30px;
}

/*programas tv */

.programas{
display: flex;
width: 85%;
height: 900px;
align-content: center;
color: white;
flex-wrap: wrap;
margin: auto;
}
/*programas 1 */
.programas1{
width: 50%;
height: 50%;
background: rgb(117, 3, 3);
}
.programas .programas1 h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: black;
}
.programas .programas1 h2{
    font-size: 25px;
    margin: 10px 0 0 0;
    padding: 0;
}
.descripcion1{
    display: flex;
    flex-direction: wrap;
    margin-top: 15px;

}
.descripcion1 p{
    width: 30%;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
}
.imagen_programa1{
    width: 70%;
    height: 200px;
    margin-top: 35px;
}
/*programas 2 */
.programas2{
    display: flex;
    background: rgb(192, 125, 192);
    width: 50%;
    height: 50%;
    flex-direction: row;
}
.descripcion2{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5px;
}
.descripcion2 img{
    width: 100%;
    height: 200px;
}

.descripcion2 h1,.descripcion2 h2{
    width: 100%;
}
.descripcion2 h1{
    width: 100%;
    font-size: 30px;
    margin:0;
    padding: 0;
    color: black;
}
.descripcion2 h2{
    width: 100%;
}

.descripcion2b{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5px;
    border-left: solid black;
}

.descripcion2b h1,.descripcion2b h2{
    width: 50%;
}
.descripcion2b h1{
    width: 100%;
    font-size: 30px;
    margin:0;
    padding: 0;
    color: black;
}
.descripcion2b h2{
    width: 100%;
}
.descripcion2b img{
    width: 100%;
    height: 200px;
}

/*programas 3 */
.programas3{
    display: flex;
    background: rgb(192, 125, 192);
    width: 50%;
    height: 50%;
    flex-direction: row;
}
.descripcion3{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5px;
    padding: 5px;
}
.descripcion3 img{
    width: 100%;
    height: 200px;
}

.descripcion3 h1,.descripcion3 h2{
    width: 100%;
}
.descripcion3 h1{
    width: 100%;
    font-size: 30px;
    margin:0;
    padding: 0;
    color: black;
}
.descripcion3 h2{
    width: 100%;
}

.descripcion3b{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding:5px;
    border-right: solid black;
}

.descripcion3b h1,.descripcion3b h2{
    width: 50%;
}
.descripcion3b h1{
    width: 100%;
    font-size: 30px;
    margin:0;
    padding: 0;
    color: black;
}
.descripcion3b h2{
    width: 100%;
}
.descripcion3b img{
    width: 100%;
    height: 200px;
}
/*programas 4 */
.programas4{
    width: 50%;
    height: 50%;
    background: rgb(117, 3, 3);
}
.programas4 img{
    width: 80%;
    height: 70%;
    display: block;
    margin: 30px auto;
}
.programas4 h1{
padding: 0;
margin: 0 0 0 40px;
font-size: 30px;

}

/* Footer */

.linea-foot {
    position: inline;
    width: 90%;
    height: 1px;
    border: 0;
    background-color: rgb(255, 255, 255, 0.5);
}

footer {
    background-color: black;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 100px;
    margin-top: 50px;
}

.logosocial {
    width: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.contenedorlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.foot {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255, 0.7);
    font-family: 'Raleway', sans-serif;
}

.footex {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: rgb(255, 255, 255, 0.7);
    font-family: 'Raleway', sans-serif;
}

.foot:hover {
    color: rgb(255, 255, 255, 2)
}

.footex:hover {
    color: rgb(255, 255, 255, 2)
}

.titulo {
    font-size: 30px;
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.descripcionnoticia {
    font-size: 25px;
}

.div-linea {
    border-left: 2px rgb(255, 255, 255, 0.5) solid;
    height: 50%;
    margin-top: 40px;
}