/* Menu */

.horizontal {
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
    height: 20px;
    justify-content: space-between;
    position: relative;
    top: -48px;
}

nav {
    display: flex;
    margin-top: 50px;
    height: 65px;
    background: rgba(118, 118, 118, 0.30);
    filter: blur(30px);
    -webkit-filter: blur(30px);
    align-items: center;
}

button {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    color: rgb(255, 255, 255, 0.7);
    background: none;
    border: none;
}

button:hover {
    color: rgb(255, 255, 255, 2);
}

.Menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


/* Formulario */

.form {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.formulario-div {
    margin: auto;
    width: 25%;
}

.form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.formulario-titulo {
    margin: auto;
    margin-top: 50px;
    font-size: 50px;
}

.color {
    background: red;
    margin: auto;
    width: 65%;
    height: 30px;
    top: -25px;
    position: relative;
    opacity: 0.5;
}

.formulario-label {
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}

.formulario-labeln {
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}

.formulario-input {
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 20px;
    font-size: 20pt;
}

.formulario-boton {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: red;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.formulario-boton:hover {
    background-color: red;
    color: white;
}